/*

Metrics
+-------------+
|#wrap        | main wrapper, no-style
|+-----------+|
||.page      || settle slide position
||+---------+||
|||.sheet   ||| stylize slide
|||.image   ||| "@porperty:value" handles this style
||+---------+||
|+-----------+|
|             |
|+-----------+|
||.page      || position: absolute;
||+---------+|| switch "display" & opacity with js
|||.sheet   |||
|||.image   |||
||+---------+||
|+-----------+|
+-------------+

*/


/* Structure */
.page {
  background-color: white;
}

.sheet {
  padding: 0 10%;
}

.sheet.image {
  background-color: rgba(255,255,255,0.72);
}


/* Master */
html { font: 24px/1.5 Helvetica, Arial, Sans-Serif; }

a { color: lightslategray; }
a:hover { text-decoration: none; }


/* Text Layouts */
p { margin-bottom: .5em; }

ul, ol { margin: 0 0 1em 1em; }
ul { list-style: inside disc; }
ol { list-style: inside decimal; }

em, strong { color: maroon; }
strong { font-weight: bold; }


/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-align: center;
  line-height: 1.72;
  margin-bottom: .25em;
}
h2, h3, h4, h5, h6 {
  margin-top: .5em;
}
h1 { font-size: 3.0em; line-height: 2.0; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }


/* Blockcodes */
pre {
  overflow-y: scroll;
  padding: .5em;
  background-color: whitesmoke;
  border: 1px solid silver;
}
pre, code { font-family: Monaco, Courier, monospace; }
code { background-color: whitesmoke; }

table {
  margin: 0 auto;
  border-top: 1px solid silver;
  border-left: 1px solid silver;
}
tr {
  border-bottom: 1px solid silver;
}
th {
  font-weight: bold;
}
th, td {
  padding: .1em 1em;
  border-right: 1px solid silver;
}

blockquote {
  margin-left: .2em;
  padding-left: .5em;
  border-left: 5px solid silver;
  font-style: italic;
  color: gray;
}
blockquote p { margin-bottom: 0; }


/* Special Element */
img {
  display: block;
  margin: 0 auto;
}
